/* 
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/

.jumbotron{
font-family: 'Playfair Display', serif;
}

body {
font-family: 'Poppins', sans-serif;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    padding: 10px;   
    text-align: center;        
}
